.cartao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
  
    text-decoration: none;
    border: none;
    box-shadow: 0 2px 7px 0 rgba(0,0,0, 0.15);
  
    width: 22rem;
    height: 7.5rem;
    background-color: white;
    border-radius: 1.2rem;
  }
  .cartao:hover{
    box-shadow: 0 2px 7px 0 rgba(0,0,0, 0.5);
  }
  .corFormulario {
    width: 3rem;
    height: 5.5rem;
    border-radius: 1.2rem 0 0 1.2rem;
  }
  
  .infoFormulario {
    width: 14rem;
    height: 5.5rem;
    line-height: 1.4rem;
    padding: 0.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  a {
    font-size: 1.2rem;
    text-decoration: none;
  
    color: black;
  }
  
  a:hover {
    text-decoration: underline;
  }
  h2 {
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  span {
    display: block;
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  