.card_box {
  font-family: 'Roboto Slab';
  margin: 1rem;
  border-radius: 8px;
  border: 1px solid #C3C3C3;
  box-shadow: 0 2px 7px 0 rgba(0,0,0, 0.15);
  display: flex;
  padding: 1rem;
  align-items: center;
  
  background-color: rgba(255, 255, 255, 0.993);
}

.card_box:hover{

 box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
}

.card_box__title {
  font-size: 20px;
  color: #2C3E50;
  max-width: 20%;
}

.card_box__info {
  font-size: 16px;
  margin:auto;
  max-width: 30%;
}

.card_box__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card_box__link{
  margin-right: 5px;
  border: 1px solid #11283b;
  border-radius: 4px;
  color: #11283b;
  text-decoration: none;
  padding: 5px 10px;
}

.card_box__link:hover{
  border: 1px solid #11283b;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  background-color: #11283b
  ;
}

.card_box__delete{
  margin-right: 5px;
  border: 1px solid red;
  border-radius: 4px;
  color: red;
  text-decoration: none;
  padding: 5px 10px;
}

.card_box__delete:hover{
  border: 1px solid red;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  background-color: red;
}

.card_box__edit{
  margin-right: 5px;
  border: 1px solid green;
  border-radius: 4px;
  color: green;
  text-decoration: none;
  padding: 5px 10px;
}

.card_box__edit:hover{
  border: 1px solid green;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  background-color: green
  ;
}

.card_box__copy{
  margin-right: 5px;
  border: 1px solid purple;
  border-radius: 4px;
  color: purple;
  text-decoration: none;
  padding: 5px 10px;
}

.card_box__copy:hover{
  border: 1px solid purple;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  background-color: purple
  ;
}
