* {
    padding: 0;
    margin: 0;
    font-family: 'Lexend', sans-serif;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    background-color: #0e2839;
  
    padding: 0 4rem;
  }
  body {
    position: relative;
    background-color: #eeeeee;
  }
  
  .cards {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    margin-top: 3rem;
  }
  
  .logo {
    width: 3rem;
    height: 3rem;
  }
  
  .info {
    display: flex;
  }
  
  .tituloBranco {
    color: white;
    font-size: 1.5rem;
  }
  
  .opcao {
    margin-right: 0.5rem;
    background-color: transparent;
    border: none;
  }
  .ultimosForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 4rem;
  }
  
  .titulo {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  
  .todosForm {
    padding-bottom: 2rem;
  }
  
  table {
    width: 100%;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid black;
  }
  
  th {
    text-align: left;
  }
  
  th,
  td {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  td {
    max-width: 30rem;
    font-size: 0.875rem;
    white-space: nowrap;
  }
  
  td a {
    overflow: hidden;
  }
  
  .corForm {
    border-radius: 0.3rem;
    width: 1rem;
    height: 1rem;
  }
  
  .mostrar-formulario-atribuido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 7.5rem;
    background-color: white;
    border-radius: 1.2rem;
  }

  .mostrar-formulario-atribuido .olho{
    width: 30%;
    height: 30%;
    margin-bottom: 1rem;
  }
